/* bg = 1a222c */

#head {background: #1a222c; width:100%; }
#head #logo {width: 1000px; height:300px; margin: 0 auto; text-align:center;}
#head #logo a {text-decoration:none;}
#head #logo h1 { line-height:300px; margin-top:0px; color:white; font-size:55px;}

#head #menu_button {float:right; margin:20px 20px; border:none; background: #1a222c;}
#head #menu_button i { color: white;}

.sidebar { background: #1a222c; width: 400px; }
#folder { color:white; list-style: none; padding:0;}
.menutitle { display: block; width: 100%; height: 40px; line-height: 40px; padding: 0 0 0 35px; color: white; font-size: 15px; cursor: pointer;}
.submenutitle { background:white; color: #1a222c; color:white; list-style: none; padding:0;}
.submenutitle span { display: block; width: 100%; height: 40px; line-height: 40px; padding: 0 0 0 60px; color: white; font-size: 15px; cursor: pointer; color: #1a222c;}
.submenutitle span:hover,
.submenutitle p:hover { font-weight:bold; background:lightgray;}
#folder .submenutitle li a:hover { }

#topback {background: #1a222c;}
#topmenu {width: 1000; margin: 0 auto 100px auto;}
#topmenu ul {list-style:none; height:50px;}
#topmenu ul li {float:left; display: block; font-weight: bold;}
#topmenu ul li a {color:white; text-decoration: none; padding: 0 60px; font-size:20px;}

footer {background: #1a222c; width:100%; height:250px; font-size:50px; text-align:center; color:white; margin-top:200px;}
footer p {font-size:14px;}

#indexsection {width:100%;}

#indexsection #content {background:white; width: 1000; margin: 0 auto; display:block; clear:both; /*border: 1px solid #3c3432; border-style: dashed; border-radius: 10px;*/}
#indexsection .indexcontent {width: 1000; /*text-align:center;*/ display:block; clear:both;}
#indexsection ul {list-style:none;}

#indexsection #intro {height:400px;}
#indexsection #intro ul {text-align:center;}
#indexsection #intro ul li {float:left; height:400px; width:400px;}

#indexsection #posts {margin-top: 100px;}

.hashtag { background: #1a222c; padding: 5px 10px 5px 10px; color:white; margin: 20px 10px 0 0;  border: solid 2px #1a222c; border-radius: 5px; transition: 0.2s; }
.hashtag:hover { background: white; color:black; cursor: pointer}

#indexsection .indexcontent h1 {border-bottom: solid 2px #dadada; padding-bottom:10px; margin-bottom:30px;}
#indexsection .indexcontent #search_for_tags ul { padding: inherit; }
#indexsection .indexcontent #search_for_tags ul li {margin-top:15px;}
#indexsection .indexcontent #search_for_title,
#indexsection .indexcontent #search_for_tags { width: 535px; margin: auto; }
#indexsection .indexcontent #search_for_title input,
#indexsection .indexcontent #search_for_tags input { height: 30px; width: 450px; margin-right: 20px; border: solid 1px #b1b1b1; border-radius: 5px; padding: 0 15px; outline:none; transition: 0.2s;}
#indexsection .indexcontent #search_for_title input:focus,
#indexsection .indexcontent #search_for_tags input:focus { border: 1px solid #555; }
#indexsection .indexcontent #search_for_title button,
#indexsection .indexcontent #search_for_tags button { width: 60px; height:30px; border: solid 1px orange; border-radius: 5px; background: orange; color: white; font-weight: 550; outline:none; transition: 0.2s;}
#indexsection .indexcontent #search_for_title button:hover,
#indexsection .indexcontent #search_for_tags button:hover { background: white; color: orange; }
#indexsection .indexcontent #search_for_tags h4 {margin-top: 25px;}


/* custom set */
.w80 {width:80px;}
.w100 {width:100px;}
.w120 {width:120px;}
.md10 {margin-bottom: 10px;}
.md20 {margin-bottom: 20px;}
.md50 {margin-bottom: 50px;}
.wp80 {width:80%;}
.wp100 {width:100%;}

/* input */
.cusput { width: 100%; outline: none; display: inline-block; height: 32px; line-height: 32px; padding: 0 1%; color: #777; background: #fbfbfb; border: 1px solid #cccdcf; box-shadow: inset 0 1px 2px rgba(0,0,0,.1); border-radius: 3px; }

/* 게시글 */
.blog_main #write_button {float:right; margin:20px;}
.blog_main #write_button button {  background:transparent; border:none; }
#commenttable { width:100%;}
.comment-author {text-align:center; font-weight:bold;}
.comment-date {text-align:center;}
.comment-date span {display:block;}
.comment-date .deletecomment { color: red; }
.comment-date .reply { color: blue;}
.comment-date .deletecomment:hover,
.comment-date .reply:hover { cursor: pointer;}

/* .blog_post .post_box {margin: 30px; border: 1px solid black; border-radius:5px; padding: 15px; } */
.blog_post .comment_box { border: 1px solid black; border-radius:5px; padding: 15px; }
.blog_post .post_box {margin: 30px; padding: 15px; }
.blog_post .post_box #title_box {height:30px; border-bottom: solid 2px #dadada; padding-bottom:10px; margin:15px 0px 15px 0px;}
.blog_post .post_box #title_box #title { text-align:left; padding:10px; font-size:24px; font-weight: 300; margin-bottom:0;}
.blog_post .post_box #title_box #category { padding-left: 15px; border-left: 1px solid black; color: gray; text-decoration:none;}
.blog_post .post_box .post_content {padding:10px;}
.blog_post .post_box .post_content #post_body {margin:50px 0px 25px;}

/* 글쓰기 */

.sub-contents-box .board-box { clear: both; max-width: 780px; margin: 50px auto; }
.sub-contents-box .board-box form { clear: both; padding: 30px; border: 1px solid #e1e1e1; border-radius: 4px; overflow: hidden; }
.sub-contents-box .board-box from .input-box { clear: both; width: 100%; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dotted #e1e1e1; }
.sub-contents-box .board-box form .input-box input { width: 100%; outline: none; display: inline-block; height: 32px; line-height: 32px; padding: 0 1%; color: #777; background: #fbfbfb; border: 1px solid #cccdcf; box-shadow: inset 0 1px 2px rgba(0,0,0,.1); border-radius: 3px; }
.sub-contents-box .board-box form .subject-box { position: relative; clear: both; width: 100%; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dotted #e1e1e1; }
/*.sub-contents-box .board-box form .subject-box label { position: absolute; top: 0px; left: 0px; width: 100%; padding: 6px 10px 0 10px; }
.sub-contents-box .board-box form .subject-box .edit-title { display: none; }
.sub-contents-box .board-box form .subject-box label span { display: block; width: 100%; height: 19px; color: #777; cursor: text; }*/
.sub-contents-box .board-box form .text-box { clear: both; width: 100%; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dotted #e1e1e1; }
.sub-contents-box .board-box form .uploadfile-box { clear: both; width: 100%; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dotted #e1e1e1; }
.sub-contents-box .board-box form .secret-box { width: 100%; height: 30px; clear: both; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dotted #e1e1e1; }
.sub-contents-box .board-box form .secret-box label { float: left; display: block; width: 50px; height: 20px; margin: 0; padding: 0; }
.sub-contents-box .board-box form .secret-box input { float: left; display: inline-block; width: 20px; height: 20px; margin: 0; padding: 0; }
.sub-contents-box .board-box form button { display: inline-block; width: 100%; color: #fff; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: 400; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; border: 1px solid transparent; border-radius: 4px; background: #1a222c; }
.sub-contents-box .board-box form button:hover { background: #333; }
.sub-contents-box .board-box #hashtag_input {margin-bottom: 20px;}
.sub-contents-box .board-box .post_hashtag { background: #1a222c; padding: 5px 10px 5px 10px; color:white; margin: 20px 20px 0 0; border-radius: 5px; }
.sub-contents-box .board-box .post_hashtag a {color:white; margin-left:10px; text-decoration: none; cursor:pointer;}


/* 로그인 */
body.login, body.signup {background: #f8f8f8;}
.login_box p {text-align: center;}
.login_box #logo {margin:200px auto 50px;}
.login_box #logo img {margin:0px auto; text-align:center; width:50px;}
.login_box #logo a {text-decoration:none; line-height:32px;}
.login_box #logo span {font-size:24px; font-weight: 300; text-decoration:none; color:black;}
.login_box #login_div {padding: 50px; margin: 50px auto 350px; height:300px; width:400px; text-align:center; border: 1px solid #b1b1b1; border-radius:5px; background:white;}
.login_box #login_div p {font-style:bold; color:red;}
.login_box #login_div label {display:none;}
.login_box #login_div #logo {margin-bottom:100px;}
.login_box #login_div #id_username {width:250px; height:35px; font-size:15px; margin: 15px auto;}
.login_box #login_div #id_password {width:250px; height:35px; font-size:15px; margin: 15px auto;}
.login_box #login_div input {width:120px; height:35px; margin-bottom:15px;}
.login_box #login_div button {width:120px; height:35px; text-decoration: none; margin-left:5px;}
.login_box #login_div button a {color:black;}


/* pagination */
.pagination>li>a,
.pagination>li>span {color: #1a222c; !important}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {background-color:#1a222c; border-color: #1a222c; !important}