{% load staticfiles %}
{% include 'main/header.html' %}

    <section id="indexsection">
        <div id="content" class="blog_main">
            <a id = "write_button" href="{% url 'write' %}"><button> <p><img src="{% static 'img/write.png' %}"></p> </button></a>
            <div class="indexcontent" id="search">
                <h1>
                    Search
                </h1>
                <div>
                    <h3>For Titles</h3>
                    <form>
                        <input name="search_title">
                        <button type="submit"> GO </button>
                    </form>
                </div>
                <div id="search_for_tags">
                    <h3>For Tags</h3>
                        {% if tags %}
                            <ul>
                            {% for x in tags %}
                                <li>
                                    <span class='hashtag'>{{ x.title }}</span>
                                    <span> : tagged for {{ x.nou }}times.</span>
                                </li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            <span>Oops! There is any tag.</span>
                        {% endif %}
                </div>
            </div>
            <div class="indexcontent" id="posts">
                <h1>
                    Recent Posts
                </h1>
                <table class="table">
                    <colgroup>
                        <col style="width: 15%; text-align: center;">
                        <col style="">
                        <col style="width: 15%;">
                        <col style="width: 10%;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th style="text-align: center;">번호</th>
                            <th style="text-align: center;">글 제목</th>
                            <th style="text-align: center;">작성일</th>
                            <th style="text-align: center;">조회수</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in recent_posts %}
                        <tr id="{{ post.id }}" class="post_index">
                            <td style="text-align: center;">{{ post.id }}</td>
                            <td>{{ post.title }}</td>
                            <td style="text-align: center;">{{ post.published_date }}</td>
                            <td style="text-align: center;">{{ post.hits }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
        <script>

            $('.post_index').click(function() {
                location.href = "/blog/post/" + $(this).attr('id');
            });

        </script>
    </section>

{% include 'main/footer.html' %}