{% load staticfiles %}
{% include 'main/header.html' %}

<section id="indexsection">
    <div id="content" class="blog_main">
        <a id = "write_button" href="{% url 'write' %}"><button> <p><img src="{% static 'img/write.png' %}"></p> </button></a>
        <div class="indexcontent" id="guestbook">
            <h1>
                Guest Book
            </h1>
            <div>
                <div id="commentarea">
                    <table id="commenttable">
                        <colgroup>
                            <col style="width: 15%;"/>
                            <col style="width: 65%;"/>
                            <col style="width: 15%;"/>
                        </colgroup>
                        <tbody>
                        {% if comment %}
                        {% for cmt in comment %}
                        <tr class="comment {{cmt.parent}}" id="{{ cmt.id }}">
                            <div>
                                <td class="comment-author"><span style="float:left; margin-left:40px;">{{ cmt.author }}</span></td>

                                <td class="content"><span>{{ cmt.comment }}</span>&nbsp;&nbsp;&nbsp;<span class="ipaddr">{{ cmt.ip_display }}</span></td>
                                <td class="comment-date">
                                    <span>{{ cmt.published_date }}</span>
                                </td>
                            </div>
                        </tr>
                        {% endfor %}
                        <a href="{% url 'guestbook' %}"><p id="nocomment">&#62;&#62;&#62;&nbsp;Click here to leave your name&nbsp;&#60;&#60;&#60;</p></a>
                        {% else %}
                        <a href="{% url 'guestbook' %}"><p id="nocomment">&#62;&#62;&#62;&nbsp;Click here to leave your name for 1st&nbsp;&#60;&#60;&#60;</p></a>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="indexcontent" id="search">
            <h1>
                Search
            </h1>
            <div>
                <h3>For Titles</h3>
                <div id="search_for_title">
                    <input name="search_title" placeholder="What is Love?">
                    <button type="button" id="search_title"> GO </button>
                </div>
            </div>
            <div>
                <h3>For Tags</h3>
                <div id="search_for_tags">

                    <div id="search_tags"></div>

                    <input name="search_tag" placeholder="Press Space bar to register tags">
                    <button type="button" id="search_tag"> GO </button>

                    <h4>Tag Ranking</h4>
                    {% if tags %}
                    <ul>
                        {% for x in tags %}
                        <li>
                            <span class='hashtag'>{{ x.title }}</span>
                            <span> tagged for <strong>{{ x.nou }}</strong> times.</span>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <span>Oops! There is not any tag.</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="indexcontent" id="recent_posts">
            <h1>
                Recent Posts
            </h1>
            <a id="showall" href="{% url 'all_post' %}"><span>All Posts &nbsp;&#62;</span></a>
            <table class="table">
                <colgroup>
                    <col class="text-center" style="width: 15%;">
                    <col style="">
                    <col style="width: 15%;">
                    <col style="width: 10%;">
                </colgroup>
                <thead>
                <tr>
                    <th class="text-center">번호</th>
                    <th class="text-center">글 제목</th>
                    <th class="text-center">작성일</th>
                    <th class="text-center">조회수</th>
                </tr>
                </thead>
                <tbody>
                {% for post in recent_posts %}
                <tr id="{{ post.id }}" class="post_index">
                    <td class="text-center">{{ post.index }}</td>
                    <td>{{ post.title }}&nbsp;&nbsp;<span class="noc">({{ post.noc}})</span></td>
                    <td class="text-center">{{ post.published_date }}</td>
                    <td class="text-center">{{ post.hits }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    <script>

            $('.post_index').click(function() {
                location.href = "/post/" + $(this).attr('id');
            });

            $('.hashtag').click(function() {
                url = '/tags/?taglist=' + $(this).text();
                location.href = url;
            });

            $('#search_title').click(function() {
                url = '/search/?keyword=' + $('input[name=search_title]').val();
                location.href = url;
            });


            var blank_pattern = /[\s]/g;
            tags = []

            $('#search_tag').click(function() {
                query = '?taglist=' + tags

                url = '/tags/' + query;
                location.href = url;
            });


            $('input[name=search_tag]').on('input',function(e){
                if( blank_pattern.test( $(this).val() ) == true){
                    tag = $(this).val().split(' ')[0];
                    $(this).val( $(this).val().replace($(this).val().split(' ')[0] + ' ', '' ));

                    if (tag == '' || tags.length == 5){
                        return;
                    }

                    for(var x in tags){
                        if (tags[x] == tag){
                            return;
                        }
                    }

                    tags.push(tag);
                    //$(this).parent().append($("<span class='post_hashtag'>" + tag + "<a id='delete_tag'>x</a></span>"));
                    $('#search_tags').append($("<span class='post_hashtag'>" + tag + "<a id='delete_tag'>x</a></span>"));
                }
                else{
                }
            });

            $(document).on('click', '#delete_tag', function(){
                tag = $(this).parent().text().substr(0, $(this).parent().text().length -1);

                for(var x in tags){
                    if (tags[x] == tag){
                        tags.splice(x, 1);
                        $(this).parent().remove();
                    }
                }
            });




        </script>
</section>

{% include 'main/footer.html' %}