{% load blog_extras %}
<div id="commentarea">
    <table id="commenttable">
        <colgroup>
            <col style="width: 15%;"/>
            <col style="width: 65%;"/>
            <col style="width: 15%;"/>
        </colgroup>
        <tbody>
        {% if comment %}
        <p>There are <b>{{ post.noc }}</b> comments.</p>
        {% for cmt in comment %}
        {% if cmt.depth > 1 %}
        <tr class="reply_comment {{cmt.parent}}" id="{{ cmt.id }}">
            <div>
                <td class="comment-author"><span><img class="reply_img" src="/static/img/reply.png"></span><span class="reply_author">{{ cmt.author }}
                {% if cmt.user.is_superuser %}
                    <span><img class="admin_img" src="/static/img/admin.png"></span>
                {% endif %}
                </span></td>
                {% else %}
        <tr class="comment {{cmt.parent}}" id="{{ cmt.id }}">
            <div>
                <td class="comment-author"><span style="float:left; margin-left:40px;">{{ cmt.author }}
                {% if cmt.user.is_superuser %}
                    <span><img class="admin_img" src="/static/img/admin.png"></span>
                {% endif %}
                </span></td>
                {% endif %}

                {% if cmt.delete == 'Y' %}
                <td><span>삭제된 댓글입니다.</span>&nbsp;&nbsp;&nbsp;<span class="ipaddr">{{ cmt.ip_display }}</span></td>
                <td class="comment-date"><span>{{ cmt.published_date }}</span></td>
                {% else %}
                <td class="content"><span>{{ cmt.comment }}</span>&nbsp;&nbsp;&nbsp;<span class="ipaddr">{{ cmt.ip_display }}</span></td>
                <td class="comment-date">
                    <span>{{ cmt.published_date }}</span>

                    {% if cmt.depth == 1 %}
                    <a class="reply">답글</a>
                    {% endif %}

                    <a class="deletecomment">삭제</a>
                </td>
                {% endif %}
            </div>
        </tr>
        {% endfor %}
        {% else %}
        <p class="nocomment" id="tablenocomment">1등으로 댓글 입력하기</p>
        {% endif %}
        </tbody>
    </table>

    {% if comment %}
    <ul id="commentul">
        {% for cmt in comment %}
        <li id="{{cmt.id}}">
            {% if cmt.depth > 1 %}
            <span class="reply_inner">
                <span><img src="/static/img/reply.png"></span>
            {% else %}
            <span class="inner">
            {% endif %}
            {% if cmt.delete == 'Y' %}

                <span class="id">{{ cmt.author }}</span>

                {% if cmt.user.is_superuser %}
                    <span><img class="admin_img" src="/static/img/admin.png"></span>
                {% endif %}

                <span class="comment">삭제된 댓글입니다.</span>
                <span class="info">{{ cmt.published_date }}&nbsp;|&nbsp;{{ cmt.ip_display }}</span>

            {% else %}
                <span class="id">{{ cmt.author }}</span>

                {% if cmt.user.is_superuser %}
                    <span><img class="admin_img" src="/static/img/admin.png"></span>
                {% endif %}

                {% if cmt.depth == 1 %}
                <span class="mobile_reply">답글</span>
                {% endif %}
                <span class="deletecomment">삭제</span>
                <span class="comment">{{ cmt.comment }}</span>
                <span class="info">{{ cmt.published_date }}&nbsp;|&nbsp;{{ cmt.ip_display }}</span>
            {% endif %}
            </span>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="nocomment" id="ulnocomment">1등으로 댓글 입력하기</p>
    {% endif %}

    <script>

    function del(id){
        if(confirm('삭제하시겠습니까?')){
            $.ajax({
                type: "POST",
                url: '/comment/',
                data: { 'id' : id , 'csrfmiddlewaretoken': '{{ csrf_token }}', 'post_id': {{ post.id }}, 'type': 'delete'},
                dataType: "json",

                success: function(response){
                    location.reload();
                },
                error: function(request, status, error){
                    alert("실패했습니다.")
                },
            });
        }
    };


    $('.deletecomment').click(function (e) {
        var prt = $(this).parent().parent();
        var id = prt.attr('id');

        prpt = prompt('비밀번호를 입력해주세요.', '')
        $.ajax({
            type: "POST",
            url: '/comment/',
            data: { 'id' : id , 'csrfmiddlewaretoken': '{{ csrf_token }}', 'type': 'check', 'password': prpt},
            dataType: "json",

            success: function(response){
                console.log(response.message)
                if(response.message == 'success'){
                    del(id);
                }
                else{
                    alert('비밀번호가 틀립니다');
                }

            },
            error: function(request, status, error){
                alert("실패했습니다.")
            },
        });
    });

    $('.reply').click(function (){
        $('#reply_tr').remove();

        tr = $(this).parent().parent();

        tr.after('<tr id="reply_tr" style="height:100px; background:#f1f1f1;"><form method="POST" action="/comment/">\
        <td style="border-left:5px solid transparent; border-right:10px solid transparent;">\
        <input type="hidden" name="parent" value="'+ tr.attr('id') +'">\
        <input class="smallput wp50" type="text" name="reply_name" style="float:left;" placeholder="이름">\
        <input class="smallput wp50" type="password" name="reply_passwd" placeholder="암호">\
        <input class="smallput wp100" type="text" name="reply_email" style="margin-top:10px;" placeholder="이메일"></td>\
        <td><textarea class="form-control wp100" name="reply_comment" id = "replytext" style="resize: none; float:left; margin-right:20px; " placeholder="댓글 남기기"></textarea></td>\
        <td style="border-left:10px solid transparent;" ><input type="submit" class="save btn btn-default form-control" style="float:left; height:54px; width:95%;" id="reply_submit" value="댓글등록"></td></form>\
        </tr>')

        {% if user.is_authenticated %}
            $('input[name=reply_name]').val('{{user|get_full_name}}')
        {% endif %}
    });

    $('.mobile_reply').click(function (){
        $('#reply_li').remove();

        li = $(this).parent().parent();

        li.after('<li id="reply_li"><form method="POST" action="/comment/">\
        <input type="hidden" name="parent" value="'+ li.attr('id') +'">\
        <input class="form-control" type="text" name="mobile_reply_name" style="float:left;" placeholder="이름">\
        <input class="form-control" type="password" name="mobile_reply_passwd" placeholder="암호">\
        <input class="form-control" type="text" name="mobile_reply_email" placeholder="이메일"></td>\
        <textarea class="form-control" name="mobile_reply_comment" cols="40" rows="5" placeholder="답글 남기기"></textarea>\
        <button type="button" class="save btn btn-default form-control" id="mobile_reply_submit">답글 등록</button>\
        </li>')

        {% if user.is_authenticated %}
            $('input[name=mobile_reply_name]').val('{{user|get_full_name}}')
        {% endif %}
    });

</script>
</div>

<div id="writecommentarea">
    <div class="w250 desktop_write_comment">
        <ul>
            <li class="w120" style="float:left; margin-right:10px;">
                <input type="text" class="cusput w120 md10" name="name" placeholder="이름">
            </li>
            <li class="w120" style="float:left;">
                <input type="password" class="cusput w120" name="passwd" placeholder="암호">
            </li>
            <li>
                <input type="text" class="cusput w250" name="email" placeholder="이메일">
            </li>
        </ul>
    </div>
    <div class="desktop_write_comment">
        <textarea class="form-control wp80" name="comment" id = "commenttext" style="resize: none; float:left; margin-right:20px; height:100px;" cols="40" rows="5" placeholder="댓글 남기기"></textarea>
        <input type="submit" class="save btn btn-default form-control" style="float:left; width:15%;  height:100px;" id="submit" value="댓글등록">
    </div>

    <div class="mobile_write_comment">
        <input type="text" class="form-control" name="mobile_name" placeholder="이름">
        <input type="password" class="form-control" name="mobile_passwd" placeholder="암호">
        <input type="text" class="form-control" name="mobile_email" placeholder="이메일">
    </div>
    <div class="mobile_write_comment">
        <textarea class="form-control wp80" name="mobile_comment" id = "mobile_commenttext" cols="40" rows="5" placeholder="댓글 남기기"></textarea>
        <button type="submit" class="save btn btn-default form-control" id="mobile_submit">댓글 등록</button>
    </div>

    <script>

    $('#commenttable > tbody > tr:last').css('border-bottom', 'none');

    $('input[name=name]').on('keyup', function() {
        if($(this).val().length > 9) {
            $(this).val($(this).val().substring(0, 9));
        }
    });

    $('input[name=email]').on('keyup', function() {
        if($(this).val().length > 100) {
            $(this).val($(this).val().substring(0, 100));
        }
    });

    $('textarea[name=comment]').on('keyup', function() {
        if($(this).val().length > 150) {
            $(this).val($(this).val().substring(0, 150));
        }
    });


    $('#submit').click(function (e) {

        if ($('input[name=name]').val() == ''){
            alert('이름을 입력해주세요');
            return;
        }
        if ($('input[name=passwd]').val() == ''){
            alert('비밀번호를 입력해주세요');
            return;
        }

        if ($('textarea[name=comment]').val() == ''){
            alert('내용을 입력해주세요');
            return;
        }

        $.ajax({
            type: "POST",
            url: '/comment/',
            data: { 'post_id': {{ post.id }}, 'name' : $('input[name=name]').val(), 'email' : $('input[name=email]').val(),
                    'passwd' : $('input[name=passwd]').val(), 'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'comment' : $('textarea[name=comment]').val(), 'type': 'publish'},
            dataType: "json",

            success: function(response){
                    location.reload();
                },
                error: function(request, status, error){
                    alert('실패했습니다.');
            },
        });
    })


    $(document).on('click', '#reply_submit', function(){

        if ($('input[name=reply_name]').val() == ''){
            alert('이름을 입력해주세요');
            return;
        }

        if ($('input[name=reply_passwd]').val() == ''){
            alert('비밀번호를 입력해주세요');
            return;
        }

        if ($('#replytext').val() == ''){
            alert('내용을 입력해주세요');
            return;
        }

        $.ajax({
            type: "POST",
            url: '/comment/',
            data: { 'post_id': {{ post.id }}, 'name' : $('input[name=reply_name]').val(),
                    'passwd' : $('input[name=reply_passwd]').val(), 'csrfmiddlewaretoken': '{{ csrf_token }}', 'email' : $('input[name=reply_email]').val(),
                    'comment' : $('#replytext').val(), 'type': 'reply', 'parent': $('input[name=parent]').val()},
            dataType: "json",

            success: function(response){
                    location.reload();
                },
                error: function(request, status, error){
                    alert('실패했습니다.');
            },
        });
    })
    </script>

    <!--모바일-->
    <script>

    $('input[name=mobile_name]').on('keyup', function() {
        if($(this).val().length > 9) {
            $(this).val($(this).val().substring(0, 9));
        }
    });

    $('input[name=mobile_email]').on('keyup', function() {
        if($(this).val().length > 100) {
            $(this).val($(this).val().substring(0, 100));
        }
    });

    $('textarea[name=mobile_comment]').on('keyup', function() {
        if($(this).val().length > 150) {
            $(this).val($(this).val().substring(0, 150));
        }
    });

    $('#mobile_submit').click(function (e) {

        if ($('input[name=mobile_name]').val() == ''){
            alert('이름을 입력해주세요');
            return;
        }
        if ($('input[name=mobile_passwd]').val() == ''){
            alert('비밀번호를 입력해주세요');
            return;
        }

        if ($('textarea[name=mobile_comment]').val() == ''){
            alert('내용을 입력해주세요');
            return;
        }

        $.ajax({
            type: "POST",
            url: '/comment/',
            data: { 'post_id': {{ post.id }}, 'name' : $('input[name=mobile_name]').val(), 'email' : $('input[name=mobile_email]').val(),
                    'passwd' : $('input[name=mobile_passwd]').val(), 'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'comment' : $('textarea[name=mobile_comment]').val(), 'type': 'publish'},
            dataType: "json",

            success: function(response){
                    location.reload();
                },
                error: function(request, status, error){
                    alert('실패했습니다.');
            },
        });
    })


    $(document).on('click', '#mobile_reply_submit', function(){


        if ($('input[name=mobile_reply_name]').val() == ''){
            alert('이름을 입력해주세요');
            return;
        }
        if ($('input[name=mobile_reply_passwd]').val() == ''){
            alert('비밀번호를 입력해주세요');
            return;
        }

        if ($('textarea[name=mobile_reply_comment]').val() == ''){
            alert('내용을 입력해주세요');
            return;
        }

        $.ajax({
            type: "POST",
            url: '/comment/',
            data: { 'post_id': {{ post.id }}, 'name' : $('input[name=mobile_reply_name]').val(),
                    'passwd' : $('input[name=mobile_reply_passwd]').val(), 'csrfmiddlewaretoken': '{{ csrf_token }}', 'email' : $('input[name=mobile_reply_email]').val(),
                    'comment' : $('textarea[name=mobile_reply_comment]').val(), 'type': 'reply', 'parent': $('input[name=parent]').val()},
            dataType: "json",

            success: function(response){
                    location.reload();
                },
                error: function(request, status, error){
                    alert('실패했습니다.');
            },
        });
    })

    </script>
</div>


<script>
    {% if user.is_authenticated %}
        $('input[name=name], input[name=mobile_name]').val('{{user|get_full_name}}')
    {% endif %}
</script>