{% load staticfiles %}
{% include 'main/header.html' %}

<section id="indexsection">
    <div id="content" class="blog_post">
        <!--<a id = "write_button" href="{% url 'write' %}"><button> <p><img src="{% static 'img/write.png' %}"></p> </button></a>-->

        <div class="indexcontent post_box">
                <div id="title_box">
                    <span id="title">{{ post.title }}</span>
                </div>
            <div class="post_content">
                <div id="post_body">
                {{ post.summer_field | safe }}
                </div>
                <div class="post_foot">
                    {% include 'blog/comment.html' %}
                </div>
            </div>
        </div>

    </div>
</section>
<script>
    $('head title').text( '방명록 :: 코딩웨일')
    $('meta[name=description]').attr('content', '여러분들의 발자취를 남겨주세요.')
</script>

{% include 'main/footer.html' %}