{% load staticfiles %}
{% include 'main/header.html' %}

<section id="indexsection">
    <div id="content" class="blog_post">
        <!--<a id = "write_button" href="{% url 'write' %}"><button> <p><img src="{% static 'img/write.png' %}"></p> </button></a>-->

        <div class="indexcontent post_box">
                <div id="title_box">
                    <span id="title">{{ post.title }}</span> <a href="/category/{{ category.title }}" id="category">{{ category.label }}</a>
                </div>
            <div class="post_content">
                <div id="post_head">
                    <p><img src="{% static 'img/hits.png' %}"> 조회수 : {{ post.hits }} </p>
                    <p><img src="{% static 'img/calendar.png' %}"> 작성일 : {{ post.published_date }} </p>
                    {% if post.edited_date != null %}
                        <p><img src="{% static 'img/calendar.png' %}"> 최종 수정일 : {{ post.edited_date }} </p>
                    {% endif %}
                    <div id="tag-box">
                        {% if tags %}
                            {% for x in tags %}
                                <span class='hashtag'>{{ x }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div id="post_body">
                {{ post.summer_field | safe }}
                </div>
                <div class="post_foot">
                    {% include 'blog/comment.html' %}
                </div>
            </div>
        </div>

        <script>
            $('.hashtag').click(function() {
                url = '/tags/?taglist=' + $(this).text();
                location.href = url;
            });

            $('head title').text( '{{ post.title }} :: 코딩웨일')
            $('meta[name=description]').attr('content', '{{ description }}')
        </script>

    </div>
</section>

{% include 'main/footer.html' %}