{% load staticfiles %}
{% include 'main/header.html' %}

<section id="indexsection">
    <div id="content" class="blog_main">
        <div class="indexcontent" id="search">
            <div class="indexcontent" id="posts">
                {% if summernote_list %}
                <h3><strong>{{keyword}}</strong> Tagged Post </h3>
                <table class="table">
                    <colgroup>
                        <col style="width: 15%; text-align: center;">
                        <col style="">
                        <col style="width: 15%;">
                        <col style="width: 10%;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="text-center">번호</th>
                        <th class="text-center">글 제목</th>
                        <th class="text-center">작성일</th>
                        <th class="text-center">조회수</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in summernote_list %}
                    <tr id="{{ p.id }}" class="post_index">
                        <td class="text-center">{{ p.id }}</td>
                        <td>{{ p.title }}</td>
                        <td class="text-center">{{ p.published_date }}</td>
                        <td class="text-center">{{ p.hits }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="nothing">
                    <h2>Come out, come out, wherever you are!</h2>
                    <h4>There isn't any post with {{ keyword }} in my database.</h4>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="text-center">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        </div>

    </div>
    <script>
            $('.post_index').click(function() {
                location.href = "/post/" + $(this).attr('id');
            });
        </script>
</section>

{% include 'main/footer.html' %}