{% load staticfiles %}
{% include 'main/header.html' %}

<div class="sub-contents-box">
    <div class="board-box">
        <form method="POST" action="" class="post-form">
            {% csrf_token %}
            {{ form.media }}
            <div class="input-box subject-box">
                {{ form.title }}
            </div>
            <div class="input-box text-box">
                {{ form.post|safe }}
            </div>
            <div class="input-box uploadfile-box">
                {{ form.uploadfile }}
            </div>
            <div class="input-box subject-box">
                <input id="hashtag_input" name="hashtag">
            </div>

            <input class="tags" name="tag1" type="hidden">
            <input class="tags" name="tag2" type="hidden">
            <input class="tags" name="tag3" type="hidden">
            <input class="tags" name="tag4" type="hidden">
            <input class="tags" name="tag5" type="hidden">
            <input class="tags" name="tag_length" type="hidden">

            <button id="post_save_fk" class="btn btn-default">등록</button>
            <button type="submit" id="post_save" class="btn btn-default" style="display:none;">등록</button>
        </form>
    </div>
</div>
<script>

    $('#post_save_fk').click(function() {
        $('input[name=hashtag]').val(tags);
        $('#post_save').click();
    });

    var blank_pattern = /[\s]/g;
    tags = []

    $('input[name=hashtag]').on('input',function(e){
        if( blank_pattern.test( $(this).val() ) == true){
            tag = $(this).val().split(' ')[0];
            $(this).val( $(this).val().replace($(this).val().split(' ')[0] + ' ', '' ));

            if (tag == '' || tags.length == 5){
                return;
            }

            for(var x in tags){
                if (tags[x] == tag){
                    return;
                }
            }

            tags.push(tag);
            $(this).parent().append($("<span class='post_hashtag'>" + tag + "<a id='delete_tag'>x</a></span>"));
        }
        else{
        }
    });

    $(document).on('click', '#delete_tag', function(){
        tag = $(this).parent().text().substr(0, $(this).parent().text().length -1);

        for(var x in tags){
            if (tags[x] == tag){
                tags.splice(x, 1);
                $(this).parent().remove();
            }
        }
    });

    /*$('#delete_tag').click(function() {
        tag = $(this).parent().text().substr(0, $(this).parent().text().length -1);

        for(var x in tags){
            if (tags[x] == tag){
                tags.splice(x, 1);
                $(this).parent().remove();
            }
        }
    });*/
</script>

{% include 'main/footer.html' %}