{% load staticfiles %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코딩웨일</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'js/default.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'semantic/semantic.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
    <link rel="stylesheet" href="{% static 'semantic/semantic.min.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
</head>
<body>
<div class="ui sidebar right inverted vertical menu" style="width:350px; background: #1a222c;">
    <div id="personal_data">
        <img id="profile_img" src="{% static 'img/profile.png' %}">
        <p id="profile_title">Orca the Whale</p>
        <ul id="sns_list">
            <li>
                <i class="fab fa-facebook-square fa-2x"></i>
                <span>Facebook</span>
            </li>
            <li>
                <i class="fab fa-github fa-2x"></i>
                <span>Github</span>
            </li>
            <li>
                <i class="fas fa-envelope-square fa-2x"></i>
                <span>E-mail</span>
            </li>
        </ul>
    </div>
    <ul id="folder">
        <li>
            {% for class in classify %}
            <span class="menutitle">+&nbsp&nbsp{{ class.title }}</span>
            <ul class="submenutitle">
                {% for category in categories %}
                {% if category.classify == class %}
                <li>
                    <a href="/category/{{category.title}}">
                        <p>
                            <span>
                            {{category.label}}&nbsp;({{category.nou}})
                            </span>
                        </p>
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endfor %}
    </ul>
</div>
<div class="pusher">
        <section id="head">
            <button id="menu_button"><i id="sidebar_icon" class="fas fa-bars fa-2x"></i></button>

            <div id="logo">
                <!--<img id="full-logo" src="{% static 'img/Full-Logo.png' %}">-->
            </div>

        </section>