{% load staticfiles %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'js/default.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
</head>
<body>
    <section id="head">
        <div id="logo">
            <a href="/">
                <h1>Peek-A-Boo</h1>
            </a>
        </div>
    </section>